<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>FirstWebApplication</display-name>
  // this is private to the servlet
  <servlet>
  <servlet-name>HCS</servlet-name>
  <servlet-class>com.deloitte.web.HitCounterServlet</servlet-class>
  <init-param>
  <param-name>address</param-name>
  <param-value>G-8,ManjunathaArcade</param-value>
  </init-param>
  </servlet>
  
  
  
  <servlet-mapping>
  <servlet-name>HCS</servlet-name>
  <url-pattern>/hc1/</url-pattern>
    
  </servlet-mapping>
  
  
  //initialising a context-it is outside a servlet but inside a web application
  
  //private to the web appln..so all servlets and JSP's can access it.
  
  <context-param>
  <param-name>WebAdmin</param-name>
  <param-value>WebAdmin@swetha</param-value>
  </context-param>
  
  
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>